---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import About from '../components/About.astro';
import Certifications from '../components/Certifications.astro';
import CaseStudies from '../components/CaseStudies.astro';
import Experience from '../components/Experience.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Nav />
  <main>
    <Hero />
    <Services />
    <About />
    <Certifications />
    <CaseStudies />
    <Experience />
    <Contact />
  </main>
  <Footer />
</Layout>
